<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/medicamentos</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">arqsoft2015</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="DataAccess.Entities.Account"/>
    <mapping class="DataAccess.Entities.Administrator"/>
    <mapping class="DataAccess.Entities.Bill"/>
    <mapping class="DataAccess.Entities.Customer"/>
    <mapping class="DataAccess.Entities.Drug"/>
    <mapping class="DataAccess.Entities.InventoryItem"/>
    <mapping class="DataAccess.Entities.Item"/>
    <mapping class="DataAccess.Entities.Purchase"/>
    <mapping class="DataAccess.Entities.PurchaseItem"/>
    <mapping class="DataAccess.Entities.ShoppingCart"/>
  </session-factory>
</hibernate-configuration>
